body{
  text-align: center;
}

.red{
  color: red;
}

span{
  color:#f97352 ;
}


.logo{
  color: blue;
}


/* Navigation-bar Section */
.nav-item:hover {
color: white;
  background-color: #aea8f3;
  border: 2px solid #f97352;
  border-radius: 8px;
  box-shadow: 0 12px 11px 0 rgba(0,0,0,0.24),
  0 17px 50px 0 rgba(0,0,0,0.19);
}

.navbrand{
  font-size: 1.6rem;
}


.nav-position{
  font-size: 1.2rem;
}

.nav-item{
  padding-left: 20px;
}











/* gallery section  */









/* Section */
.bad {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-a{
  text-decoration: none;
  color: black;
}

.background-image-about{
    background-image: url("../Images/office.jpg");
    background-color: #cccccc;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(2px);

}

.background-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white ;
  font-size: 1.3rem;
}


       /* What We do Section */
.we-do{
  width: 80%;
  margin: 5% 18% 5% 13%;
  font-size: 1.13rem;
}

.up{
  padding: 60px 0 100px 0;
}

.red{
  margin-bottom: 30px;
  font-size: 2.2rem;
}

      /* Services Section */
.services {
  position: relative;
  top: 160px;
  background-color: #C0C0C0;
  padding: 100px 0;

}

.pservices {
  color: #777;
  font-size: 1.08rem;
  line-height: 1.7rem;

}

.we-doo{
  width: 65%;
}


/* Section */
.now{
  background-color:#D3D3D3;
  margin-top:160px;
  position: relative;
  padding-top: 100px;


}

.now1{
  padding: 0 7%;
}

.liquid-img{
  width: 75%;
}
        /* first carousel Section */
.carousel1{
margin: 100px;
width: 56%;
}

.ffcarousel{
  background-color: #D3D3D3;
  padding: 5% 0 10% 0;

}
.fcarousel{
  width: 75%;
  margin: 0 10%;
}
.card1{
  margin: 30px 30px;
}

       /* Second Carousel testimonial section */
.testimonial{
  text-align: center;
  color: #fff;
  background-image: url(Images/back.jpg);
  padding: 3% 0;
  margin-bottom: 10%;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* Footer Section */
.bottom-container {
background-color:black;
padding: 60px 0 80px 15px;
}

.links{
text-align: left;
}

.bottom-logo{
padding: 0 5px 30px 20px;
}

.footer-link{
text-decoration: none;
cursor: pointer;
padding: 1px 9px;
margin: 0 1px 20px;
font-size: 1.05rem;
}

.footer-link:hover{
background-color:#C0C0C0;
}

.footer-links{
text-decoration: none;
color: whitesmoke;
cursor: pointer;
padding: 1px 9px;
margin: 5px 1px;
font-size: 1.05rem;
}

.footer-links:hover{
color:burlywood;
}

@media screen and (max-width: 575px) {
.resources{
 padding: 50px 0 0 12px;
}
}

@media screen and (max-width: 990px) {
.follow{
 padding: 50px 12px;
}
}
.copyright {
text-align: center;
color: #EAF6F6;
font-size: 0.83rem;
padding: 40px 0;
}

/* fontawesome icons */
.icon{
color: whitesmoke;
padding: 1px 9px;
margin: 5px 1px;
}
.icon:hover{
color: burlywood;
}



/* meadia query section */

@media (max-width: 1028px) {

#title{
text-align: center;
}

.title-image{
position: static;
transform: rotate(0);
}



}
